@font-face {
    font-family: "Alterebro Pixel Font";
    src: url ("../polices/alterebro-pixel-font.ttf");
}
@font-face {
    font-family: "Avenir Black";
    src: url ("../polices/avenir_fonts/avenir-black.ttf");
}
@font-face {
    font-family: "Avenir Book";
    src: url ("../polices/avenir_fonts/avenir-book.ttf");
}
@font-face {
    font-family: "Avenir Heavy";
    src: url ("../polices/avenir_fonts/avenir-heavy.ttf");
}
@font-face {
    font-family: "Avenir Light";
    src: url ("../polices/avenir_fonts/avenir-light.ttf");
}
@font-face {
    font-family: "Avenir Regular";
    src: url ("../polices/avenir_fonts/avenir-regular.ttf");
}

.title_center {
    text-align: center;
}
.gradient {
    background: linear-gradient(to bottom ,rgb(0, 217, 255), rgb(3, 186, 250), rgb(12, 68, 249));
    background-size: 100% 100%;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px 300px;
    margin: 40px ;
    flex-wrap: wrap;
}
.button_nav {
    color: yellow;
    background-color: red;
    padding: 3px 8px;
    border-radius: 3px;
    border: 0px;
    transition: background-color 0.5s;
}
.button_nav:hover {
    color: rgb(231, 216, 8);
    background-color: rgb(203, 3, 3);
}


.index{
    background-image: url(/2_web/images/index.png);
    margin: 0 0 0 0;
    background-repeat: no-repeat;
    font-family: Avenir Regular;

    h1 {
        margin: 0 0 0 0;
        padding: 80px;
        color:rgb(221, 25, 25);
        text-align: center;
        font-family: Alterebro Pixel Font;
        font-size: 120px;
        font-style: italic;
    }
    .table {
        color:rgb(239, 239, 49);
        font-size:100px;
        font-style: normal;
        font-weight: 400;
        text-align: end;
        margin: 100px 90px 100px 0px;
    }
    .itable ul li {
        color:rgb(239, 239, 49);
        float: right;
        margin-right: 90px;
        margin-left: 20px;
    }
    .itable ul li a {
        color:rgb(239, 239, 49);
        text-align: end;
        margin: 10px 90px 60px 0px;
    }
    p {
        max-width: 1200px;
        margin-left: 20px;
        padding-top: 100px;
    }
}
.intro{
    max-width: 1200px;
    margin-left: 20px;
    
}
.jeu{
    font-family: "Avenir Regular";
    max-width: 1200px;
    margin-left: 20px;

    .jingubang {
        transform: rotate(-90deg);
        transform-origin: left top;
        margin: 50px 0px -400px 0px;
    }

}
.telechargement{

    background: linear-gradient(to bottom ,rgb(0, 234, 255), rgb(0, 26, 255));
    background-size: 100% 100%;

    .long {
        float:right;
        margin-bottom: 600px;
    }

}

.spritesheet {
    margin: 8px 8px 8px 20px;
    h2 {
        margin-top: 30px;
    }
    .spritesheet_longwang {
        width: 750px;
        margin-bottom: 60px;
    }
    .spritesheet_wukong{
        margin-top: 10px;
    }
    .return ul {
        display: flex;
        margin: 40px 30px 50px 370px;
    }
}