body{
    background-color: rgb(120, 218, 521);
    font-family: Arial;
}

h1 {
    color:rgb(221, 25, 25);
    text-align: center;
    font-family: Geneva;
    
}


.table>ul>li>a{
    color:rgb(239, 239, 49)
}
/* commentaires */