body{
    background-color: rgb(62, 117, 165);
    font-family: Arial;
}

h1, h2{
    color:brown;
    background-color: blueviolet;
}

#bienvenue{
    border:1px dashed olive;
    background-color: darkmagenta;
}

.important{
    border: 2px solid black;
}
.important > strong {
    text-decoration:underline wavy;
    color: green;
    font-style:italic;
}
/* commentaires */