@font-face {
    font-family: "Alterebro Pixel Font";
    src: url(/2_web/polices/alterebro-pixel-font.ttf);
    font-weight: normal;
    font-style: normal;
}
body{
    background-image: url(/2_web/images/index.png);
    font-family: alterebro-pixel-font, Arial, Helvetica, sans-serif;
}
h1,h2,h3 {text-align: center;
}

h1, h2{
    color:brown;
    background-color: blueviolet;
    border-radius: 10px;
}

#bienvenue{
    border:1px dashed olive;
    background-color: darkmagenta;
}

.important{
    border: 2px solid black;
    padding: 22px 22px 22px 22px;
    margin: 22px 22px 22px 22px;
    border-left: red solid 10px;
    border-radius: 100px;
}
.important > strong {
    text-decoration:underline wavy;
    color: green;
    font-style:italic;
}

.guerrier{
    background-color: brown;
}
.magicien{
    background-color: chartreuse;
}
.voleur{
    background-color: gray;
}
/* commentaires */